.Counter {
    width: 300px;
    height: 250px;
    background-color: black;
    margin: auto;
    border-radius: 10px;
    border: 3px solid aqua;
}

.ScoreboardRed {
    width: 280px;
    height: 120px;
    background-color: aqua;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
    font-size: 16px;
    color: red;
}

.ScoreboardBlack {
    width: 280px;
    height: 120px;
    background-color: aqua;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
    font-size: 16px;
}

.totalScore {
    font-size: 60px;
    padding-left: 125px;
}

.Buttons {
    width: 275px;
    height: 80px;
    background-color: black;
    margin-top: 25px;
    margin-left: 10px;
    border-radius: 10px;
    border: 3px solid aqua;
}

.inc {
    background-color: aqua;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border-style: none;
    margin-left: 20px;
    margin-top: 25px;
    font-size: 25px;
    font-family: "Arial Black";
}


.reset {
    background-color: aqua;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border-style: none;
    margin-left: 30px;
    margin-top: 25px;
    font-size: 25px;
    font-family: "Arial Black";
}